/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@400;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Smooch Sans', sans-serif;
}

.ctn-pr{
    width: 100%;
    height: 100%;
    background-color: #77dd77;
}

.ctn-pr_ctn-sc img{
    width: 100%;
}

.ctn-pr_ctn-sc{
    margin: 10px;
    padding: 10px;
    text-align: left;
}

.ctn-pr_ctn-sc_titu h1{
    color: #fff;
    margin: 10px;
    font-size: 60px;
    font-weight: 700;
    font-style: italic;
    text-decoration: underline;
}

.ctn-pr_ctn-sc_asig{
    margin: 30px;
}

.ctn-pr_ctn-sc_asig_arch{
    margin: 10px;
}

.ctn-pr_ctn-sc_asig_arch ul li{
    list-style: square;
    font-size: 30px;
    color: #000;
}

.ctn-pr_ctn-sc_asig_arch ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

h4{
    color: rgb(255, 255, 255);
    font-size: 35px;
}


/** Css Fondo Animado **

i{
    position: absolute;
    height: 200px;
    background: linear-gradient(transparent, #ffffff);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    animation: animacion 5s linear infinite;
    z-index: -1;
}

i:nth-child(3n + 1){
    background: linear-gradient(transparent, #0ff);
}

i:nth-child(3n + 2){
    background: linear-gradient(transparent, #0f0);
}

i:nth-child(3n + 3){
    background: linear-gradient(transparent, #f00);
}

@keyframes animacion{
    0%{
        transform: translateY(-200px);
    }
    100%{
        transform: translateY(calc(100vh + 200px));
    }
}**/